In [5]:
# Function to print the multiplication table from 1 to 10
def multiple(num):
    for i in range(1, 11):
        mul = num * i
        print(f'{num} X {i} = {mul}')

# Take user input
num = int(input("Input: "))
multiple(num)

Input: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [7]:
def show_number(num1,num2=3):
    print("Num1 ",num1)
    print('Num2 ',num2)
show_number(num1=41)

Num1  41
Num2  3